<!DOCTYPE html>
<html>
  <head>
    <script src="lib/JSXTransformer.js"></script>
    <script src="lib/react.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx" src="src/index.js"></script>
  </body>
</html>
