<script src="/lib/spin.min.js"></script>
<script src="/lib/jquery.spin.js"></script>

<div class="content">
  <div id="content">
    <div class="init-message">
      <% if @success %>
        Initalization Successful. Click <a href="/">here</a> to start using Lager
      <% else %>
        A lager user already exists or you have supplied invalid params
      <% end %>
    </div>
  </div>
</div>