<script src="/lib/spin.min.js"></script>
<script src="/lib/jquery.spin.js"></script>

<div class="content">
  <div id="content">
    <div class="init-message">
      Initalization Successful. Click <a href="/">here</a> to start using Lager
    </div>
  </div>
</div>