<!DOCTYPE html>
<html manifest="/manifest.appcache">
  <head>
    <meta charset="utf-8">
    <title>Lager</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/144x144.png" />

    <script src="/lib/JSXTransformer.js"></script>
    <script src="/lib/react.js"></script>
    <script src="/lib/ratchet.js"></script>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/Dexie.min.js"></script>
    <link rel="stylesheet" href="/lib/css/ratchet.min.css" />
    <link rel="stylesheet" href="/lib/css/ratchet-theme-ios.min.css" />
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h1 class="title">Lager</h1>
      <a id="right-nav-button" class="icon icon-plus pull-right" href="/servers/new" data-transition="slide-in"></a>
    </header>

    <nav class="bar bar-tab">
      <a id="servers-tab-item" class="tab-item" href="/#servers" data-ignore="push">
        <span class="icon icon-home"></span>
        <span class="tab-label">Servers</span>
      </a>
      <a id="services-tab-item" class="tab-item" href="/#services" data-ignore="push">
        <span class="icon icon-pages"></span>
        <span class="tab-label">Services</span>
      </a>
      <a id="settings-tab-item" class="tab-item" href="/#settings" data-ignore="push">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Settings</span>
      </a>
    </nav>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <%= yield %>

    <script type="text/javascript" charset="utf-8">
      var checkPage = function(){
        var scriptsList = document.querySelectorAll('script.load-on-push');
        for(var i = 0; i < scriptsList.length; ++i) {
            eval(scriptsList[i].innerHTML);
        }
      };

      window.addEventListener('push', checkPage);

    // Check if a new cache is available on page load.
    window.addEventListener('load', function(e) {
      window.applicationCache.addEventListener('updateready', function(e) {
        if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
          // Browser downloaded a new app cache.
          if (confirm('A new version of this site is available. Load it?')) {
            window.location.reload();
          }
        } else {
          // Manifest didn't changed. Nothing new to server.
        }
      }, false);
    }, false);
    </script>
  </body>
</html>
