<script src="/lib/spin.min.js"></script>
<script src="/lib/jquery.spin.js"></script>

<div class="content">
  <div id="content"></div>
</div>
<script type="text/javascript" charset="utf-8">
  var service_id = <%= @id %>;
</script>
<script type="text/jsx" src="/src/log.js"></script>
