<div class="content">
  <div style="padding: 10px;" id="serverSelector">
    <button class="btn btn-positive btn-block next-step">Next step</button>
  </div>

  <form id="serviceSelector" style="padding: 10px; display: none;">
    <select>
      <option>- Select a service -</option>
    </select>
    <button class="btn btn-positive btn-block" type="submit">Create new service</button>
  </form>

  <script class="load-on-push" type="text/javascript">

$('header .title').text('Add a new service');

// Dummy data to be replaced by Ajax call
var serviceData = [
  {
    name: 'nginx',
    default_log: '/var/log/nginx'
  },
  {
    name: 'apache2',
    default_log: '/var/log/apache2'
  },
  {
    name: 'mysql',
    default_log: '/var/log/mysql'
  },
  {
    name: 'postgresql',
    default_log: '/var/log/pg'
  },
  {
    name: 'bili',
    default_log: '/var/log/bili'
  },
  {
    name: 'Others',
    default_log: ''
  }
];

// Stores the form data
var formData = {
  services: {
    servers: [],
    name: ''
  }
};

$.get("/servers", function(resp) {
  // Populate the server selectors
  resp.forEach(function(server) {
    $('#serverSelector .next-step').before('<button class="btn btn-block btn-outlined">' + server.host + '</button>');
  });
  prepareServerButtons();
  console.log(formData);
})


// Turns button into active on touch and stores server selection into form data
function prepareServerButtons() {
  $('button.btn-outlined').on('click', function() {
    var selectedServer = $(this).text();
    $(this).toggleClass('active');

    var i = formData.services.servers.indexOf(selectedServer);
    if (i === -1) {
      formData.services.servers.push(selectedServer);
    } else {
      formData.services.servers.splice(i, 1);
    }
});

}
// Populate the service selector
serviceData.forEach(function(service) {
  var newEl = $('<option class="btn btn-positive btn-block btn-outlined">' + service.name + '</option>');
  $('#serviceSelector select').append(newEl);
});

// Populate the service log path
$('#serviceSelector select').on('change', function() {
  var selectedService = $('#serviceSelector select').val();
  var selectedServiceLogPath = serviceData.filter(function(service) {
    return service.name === selectedService;
  });
  $('.service-default-path').val(selectedServiceLogPath[0].default_log);
});

// Shifts form to the next step
$('.next-step').on('click', function() {
  $('#serverSelector').fadeOut(500, function() {
    $('#serviceSelector').fadeIn(500);
  });
});

// Submits the form
$('#serviceSelector').on('submit', function(e) {
  e.preventDefault();

  formData.services.name = $('#serviceSelector select').val();

  // Ajax call to POST the new service here
  $.ajax({
    method: 'POST',
    url: '/services',
    data: formData
  }).done(function(resp) {
    window.location.href = '/#services';
  });
});

  </script>

</div>

