<form action="/new_server" method="post" style="padding: 10px;">
  <input type="text" name="host" placeholder="IP Address/Hostname" />
  <input type="text" name="ip_address" placeholder="Label" />
  <button class="btn btn-positive btn-block" type="submit">Create new server</button>
</form>
