<div class="content">
  <div style="padding: 10px;" id="serverSelector">
    <button id="confirmServersButton" class="btn btn-positive btn-block next-step" disabled="true">Next step</button>
  </div>

  <form id="serviceSelector" style="padding: 10px; display: none;">
    <div>
      <h6>Selected servers to log on:<h6>
      <ul id="selectedServers" class="table-view">
      </ul>
    </div>
    <hr />
    <select>
      <option selected="selected" disabled="disabled">- Select a service -</option>
      <% @log_paths.each do |log_name, log_path| %>
        <option class="btn btn-positive btn-block btn-outlined" data-log-path="<%= log_path %>">
          <%= log_name %>
        </option>
      <% end %>
    </select>
    <input id="serviceNameInput" type="text" placeholder='Label (e.g. app1-nyc, mysql1-sg)'></input>
    <input id="logPathInput" type="text" placeholder='Log filepath (e.g. /var/log/svc.log)'></input>
    <button id="confirmServiceButton" class="btn btn-positive btn-block" type="submit" disabled="true">Confirm</button>
  </form>

  <script class="load-on-push" type="text/javascript">

$("#right-nav-button").hide();

$('.bar-nav').append('<a id="left-nav-button" class="icon icon-left-nav pull-left"></a>');

$('#left-nav-button').on('click', function() {
  window.location.href = '/#services';
});

$('header .title').text('Select server to log');

// Stores the form data
var formData = {
  services: {
    servers: [],
    name: '',
    service_type: '',
    log_path: ''
  }
};

/*
$.get("/servers", function(resp) {
  // Populate the server selectors
  resp.forEach(function(server) {
    $('#serverSelector .next-step').before('<button class="btn btn-block btn-outlined">' + server.host + '</button>');
  });
  prepareServerButtons();
})
*/

JSON.parse(sessionStorage.getItem('servers')).forEach(function(server) {
  $('#serverSelector .next-step').before('<button class="btn btn-block btn-outlined">' + server.host + '</button>');
});
prepareServerButtons();

// Turns button into active on touch and stores server selection into form data
function prepareServerButtons() {
  $('button.btn-outlined').on('click', function() {
    var selectedServer = $(this).text();
    $(this).toggleClass('active');

    var i = formData.services.servers.indexOf(selectedServer);
    if (i === -1) {
      formData.services.servers.push(selectedServer);
    } else {
      formData.services.servers.splice(i, 1);
    }

    $("#confirmServersButton").attr({ disabled: (formData.services.servers.length == 0) })
});

}

// Populate the service log path
$('#serviceSelector select').on('change', function() {
  $("#confirmServiceButton").attr({ disabled: false })
  var selectedLogPath = $('#serviceSelector select').find(":selected").data("log-path");
  $('#logPathInput').val(selectedLogPath);
});

// Shifts form to the next step
$('.next-step').on('click', function() {
  $('#serverSelector').fadeOut(500, function() {
    $('header .title').text('Log a new service');
    $('#serviceSelector').fadeIn(500);
    $('#selectedServers').html(formData.services.servers.map(function(server) {
      return "<li class='table-view-cell'>" + server + "</li>";
    }).join(""));
  });
});

function addService(service) {
  var servers = JSON.parse(sessionStorage.getItem('servers'));
  var services = JSON.parse(sessionStorage.getItem('services'));
  var selectedHosts = formData.services.servers;
  // does not check for dupes
  var newService = {
    id: services.length + 100,
    name: service.name,
    service_type: service.service_type,
    log_path: service.log_path,
    servers: servers.filter(function(server) {
      filtered = selectedHosts.filter(function(h) {
        return server.host === h;
      })
      return filtered.length > 0;
    })
  }
  services.push(newService);
  sessionStorage.setItem('services', JSON.stringify(services));

  servers = servers.map(function(server) {
    if (newService.servers.filter(function(s) { return s.id === server.id }).length > 0) {
        server.services.push({
        id: newService.id,
        name: newService.name,
        service_type: newService.service_type,
        log_path: newService.log_path
      });
    }
    return server;
  })
  sessionStorage.setItem('servers', JSON.stringify(servers));
}

// Submits the form
$('#serviceSelector').on('submit', function(e) {
  e.preventDefault();

  formData.services.name = $('#serviceNameInput').val();
  formData.services.service_type = $('#serviceSelector select').val();
  formData.services.log_path = $('#logPathInput').val();

  // Ajax call to POST the new service here
  var username = localStorage.getItem('username');
  var authToken = localStorage.getItem('auth_token');

  addService(formData.services);
  window.location.href = '/#services';
  /*
  $.ajax({
    method: 'POST',
    headers: {
      'Authorization': 'Basic ' + btoa(username + ':' + authToken)
    },
    url: '/services',
    data: formData
  }).done(function(resp) {
    window.location.href = '/#services';
  });
  */
});

  </script>

</div>

